binance-connector==3.5.0
certifi==2023.7.22
charset-normalizer==3.3.2
idna==3.4
numpy==1.26.1
pandas==2.1.2
pycryptodome==3.19.0
python-dateutil==2.8.2
pytz==2023.3.post1
requests==2.31.0
setuptools==68.2.2
six==1.16.0
TA-Lib==0.4.28
tzdata==2023.3
urllib3==2.0.7
websocket-client==1.6.4
wheel==0.41.3
